.card-item_cover {
    display: flex;
    position: relative;
}

.card-item_tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}
.card-item_cover:hover img{
    animation: fade .7s;
}
.card-item_img-back {
    display:none;
}

.card-item_cover:hover .card-item_img-back {
    display: block;
}

.card-item_cover:hover .card-item_img-front {
    display: none;
}

.card-item_content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item_licence {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item_name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item_price {
    font-size: var(--font-small);
}



.card-item_promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}