.search {
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-12);
  height: 45px;
  margin: var(--spacing-20) 0;
}

.search_image {
  max-width: 45px;
}

.search_input {
  width: 530px;
  padding: var(--spacing-12);
}

.products_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products_header-title {
  color: var(--dark-solid);
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  font-weight: 700;
  line-height: normal;
}

.products_header-add {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.products_header-text {
  color: var(--dark-solid);
  vertical-align: middle;
  font-family: var(--base-font);
  font-size: var(--font-large);
  font-weight: 700;
  line-height: normal;
}
/* TABLA DE LISTADO DE PRODUCTOS */
.tableProducts {
  width: 100%;
  border: 1px solid blue;
}

.tableProducts_title {
  color: var(--dark-solid);
  font-family: var(--base-font);
  font-size: var(--font-large);
  font-weight: 700;
  line-height: normal;
  text-align: justify;
}

.tableProducts-item {
  color: var(--dark-solid);
  font-family: var(--base-font);
  font-size: var(--font-large);
  font-style: normal;
  font-weight: 500;
  text-align: justify;
}

.item-buttons {
  display: flex;
  justify-content: space-around;
}

.item-buttons .edition {
  background-color: var(--light-font-solid);
}